/* Forgot Password Styles */
.card {
  background: #fff;
}

.btn-primary {
  background-color: #303f61;
  border-color: #303f61;
}

.btn-primary:hover:not(:disabled) {
  background-color: #25304d;
  border-color: #25304d;
}

